In [1]:
print("khan")

khan

input

In [2]:
print("hello world")

hello world

In [3]:
name="Rahman ullah khan"
age=21
height=7
print(name,age,height)

Rahman ullah khan 21 7

In [4]:
a=100
b=50 
print(a+b)
print(a-b)
print(a*b)
print(a/b)

150
50
5000
2.0

In [19]:
name =eval(input("what is your name"))
#print("Rahman ullah")
print(name)

25

In [11]:
a=5
b=3 
print(a+b)

8

In [12]:
if 5 > 3 :
    print("Five is grater than three")

Five is grater than three

In [13]:
if 10 > 4:
    print("Four is less than Ten")
else:
    print("Ten is less than 4")

Four is less than Ten

In [27]:
A=[1,2,3,4,5]
print(A)
print(type(A))

[1, 2, 3, 4, 5]
<class 'list'>

In [21]:
b=[1,2,3 ,4,"rahman",10.1]
print(b)

[1, 2, 3, 4, 'rahman', 10.1]