In [1]:
print("hello world")

hello world

In [2]:
import sys
print(sys.version)

3.9.10 (tags/v3.9.10:f2f3f53, Jan 17 2022, 15:14:21) [MSC v.1929 64 bit (AMD64)]

In [1]:
if 5 > 2:
    print("five is greater than two !")

five is greater than two !

In [2]:
if 5 > 2:
    print("five is greater than two !")
    if 5 > 2:
        print("five is greater than two ! ")

five is greater than two !
five is greater than two !

In [1]:
x = 5
y = "johan"
print(x)
print(y)

5
johan

In [2]:
x = 4
x = "sallary"
print(x)

sallary

In [5]:
x = int(3)
y = float(3)
z = str(3)

print(x)
print(y)
print(z)

3
3.0
3

In [7]:
x = 4
y = float(4)
z = "ali"

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
x = 'ali'
y = "alyan"
print(x)
print(y)

ali
alyan

In [12]:
a = 3
A = 5
print(a)
print(A)

3
5

In [14]:
myVariableName = "johan"
print(myVariableName)

johan

In [15]:
MyVariableName = "ali"
print(MyVariableName)

ali

In [16]:
my_variable_name = "alyan"
print(my_variable_name)

alyan

In [17]:
x, y, z = "orange", "banana", "mango"
print(x)
print(y)
print(z)

orange
banana
mango

In [18]:
x = y = z = "orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [19]:
fruits =["apple", "banana", "mango"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [20]:
x = "python" 
y = "is"
z = "awesome"
print(x, y, z)

python is awesome

In [21]:
x = "python" 
y = "is"
z = "aweasome"
print(x+y+z)

pythonisaweasome

In [24]:
x = 5
y = 7
print(x + y)

12

In [25]:
print("hello world")

hello world

In [27]:
print("he is called 'johnny'")

he is called 'johnny'

In [28]:
print("this is called rahman")

this is called rahman

In [29]:
a = "rahman"
print(a)

rahman

In [31]:
a = """my name is rahman i am belon to nurrar
i am study in bsc softwear engineering"""
print(a)

my name is rahman i am belon to nurrar
i am study in bsc softwear engineering

In [34]:
a = "rahman ullah"
print(a[7])

u

In [35]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [36]:
a = "Rahman ullah khan"
print(len(a))

17

In [37]:
b = "hello, world!"
print(b[2:5])

llo

In [38]:
a = "hello world"
print(b[2:])

llo, world!

In [39]:
a = "hello world"
print(a[:5])

hello

In [40]:
a = "hello world"
print(a[-5])

w

In [ ]:
a = "rahman ullah khan"
print(a[2:5])
print(a[2:15])

hma
hman ullah kh

In [4]:
a = "Rahman ullah khan"
print(a[5:])
print(a[:8])

n ullah khan
Rahman u

In [5]:
a = "rahman ullah khan"
print(a[:])

rahman ullah khan

In [7]:
a = "Rahman ullah khan"
print(a[4::2])

a la hn

In [9]:
a = "Rahman ullah khan"
print(a[-9:-2])
print(a[::-1])

llah kh
nahk hallu namhaR

In [1]:
print((6 + 3) - (6 + 3))

0

In [2]:
print(100 + 5 * 3)

115

In [3]:
print(5 + 4 - 7 + 3)

5

In [4]:
list = ["apple", "banana", "mango"]
print(list)

['apple', 'banana', 'mango']

In [5]:
list_1 = ["mango", "banana", 'cherry', "watermalan"]
print(len(list_1))

4

In [8]:
list1 = ["abc", 34, "True", 40, "male"]
print(list1)

['abc', 34, 'True', 40, 'male']

In [9]:
mylist = ["apple", "banana", "mango"]
print(type(list))

<class 'list'>

In [11]:
thislist = ['apple', "banana", "mango"]
print(thislist[1])

banana

In [12]:
list = ["apple",'banana', "mango"]
list[1]= "watermalen"
print(list)

['apple', 'watermalen', 'mango']

In [2]:
i = 1
while i < 6:
    print(i)
    i +=1

1
2
3
4
5

In [4]:
i = 1
while i < 6:
    print(i)
    if  i == 3:
        break
    i += 1

1
2
3

In [5]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [6]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [9]:
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

In [11]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no langer less than 6")

1
2
3
4
5
i is no langer less than 6

In [1]:
colors = ["read", "green", "blue"]
for i in colors:
    print(i)

read
green
blue

In [2]:
i = 1
while i < 5:
    print(i)
    i += 1

1
2
3
4

In [4]:
x = 0
while not (i<= x <= 100):
    x = int(input("please enter a number between 1 and 100:"))
    print("valid no", x)

valid no 1000
valid no 1000
valid no 23

In [1]:
for i in range(5):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
for i in range(1):
    for j in range(5 + 1):
        print("*", end=" ")
    print()

* * * * * *

In [4]:
for i  in range(5):
    for s in range(-5,-1):
        print(" ",end=" ")
        
    for j in range(i + 1):
        print("*", end=" ")
    print()

        *
        * *
        * * *
        * * * *
        * * * * *

In [5]:
for i in range(5):
    for j in range(i,5):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [6]:
for i in range(5):
    for s in range(i):
        print(" ",end=" ")
        
    for j in range (i, 5):
        print("$",end=" ")
    print()

$ $ $ $ $
  $ $ $ $
    $ $ $
      $ $
        $

In [8]:
num= 1
for i in range(5):
    for j in range(i + 1):
        print(num, end=" ")
        num = num+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15